<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script>
        window._jHeadStart = ( new Date() ).getTime();
        window.tplConf = {
            user : {
                userId : 'null'
            },
            pageKey : '',
            autoPV : true,
            autoIdentify : true,
            we_renrendai_host: 'https://www.renrendai.com',
            _isWeCom: 'false',
            target: '_self',
            isProduction : true,
            pbId : ''
        };
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="renderer" content="webkit">
    <meta name="google-site-verification" content="oQXrGa_mTgxg7joO0himE0QuFeqOVmm-SDC1H2dzT4c">
    <meta name="baidu-site-verification" content="wibJopuIuI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="keywords" content="互联网理财平台,安全理财产品,网上贷款平台,借贷平台,个人投资理财计划">
    <meta name="description" content="人人贷理财为您提供多元化投资理财产品与更优质的综合网上贷款平台服务,将更好满足您个人投资理财计划需求。">
    <title>【人人贷官网】专业值得信赖的网络借贷信息中介平台,互联网百强3A级信用企业</title>


    <link rel="shortcut icon" type="image/x-icon" href="/ps/static/common/static/img/favicon-rrd.ico" />


    <link rel="stylesheet" type="text/css" href="__CSS__/base_41a7e4e_1.css">

    <link rel="stylesheet" type="text/css" href="__CSS__/salaryplan.css">





    <script type="text/javascript">
        (function(){
            var userAgent = navigator.userAgent.toLowerCase();
            if(userAgent.match(/rv:([\d.]+)\) like gecko/) || userAgent.match(/msie ([\d.]+)/) ){
                document.write('<script src="__JS__/babel-polyfill_1.js"><\/script>');
            }
        })();
    </script>

    <script type="text/javascript">
        window.zhuge = window.zhuge || [];
        window.zhuge.methods = "_init debug identify track trackLink trackForm page".split(" ");
        window.zhuge.factory = function(b) {
            return function() {
                var a = Array.prototype.slice.call(arguments);
                a.unshift(b);
                window.zhuge.push(a);
                return window.zhuge;
            }
        };
        for (var i = 0; i < window.zhuge.methods.length; i++) {
            var key = window.zhuge.methods[i];
            window.zhuge[key] = window.zhuge.factory(key);
        }
        window.zhuge.load = function(b, x) {
            if (!document.getElementById("zhuge-js")) {
                var a = document.createElement("script");
                var verDate = new Date();
                var verStr = verDate.getFullYear().toString()
                        + verDate.getMonth().toString() + verDate.getDate().toString();

                a.type = "text/javascript";
                a.id = "zhuge-js";
                a.async = !0;
                a.src = "https://www.we.com/cms/5864b0d6a24d131067ef7956/__JS__/zhuge.js?v=" + verStr;
                a.onerror = function(){
                    window.zhuge.identify = window.zhuge.track = function(ename, props, callback){
                        if(callback && Object.prototype.toString.call(callback) === '[object Function]')callback();
                    };
                };
                var c = document.getElementsByTagName("script")[0];
                c.parentNode.insertBefore(a, c);
                window.zhuge._init(b, x)
            }
        };
        //区分线上线下上报的app key
        var app_key = window.tplConf.isProduction?"ee112f4bcbe648a0a0958ff03af06b2a":"2da9e18043f74bceb761b72ca6f3ae78";
        window.zhuge.load(app_key);
    </script>





    <link rel="stylesheet" href="__CSS__/common_wdg_c1db688_1.css" /><link rel="stylesheet" href="__CSS__/common_nm_aa4d4d8_1.css" /><link rel="stylesheet" href="__CSS__/home_wdg_2c34d21_1.css" /><link rel="stylesheet" href="__CSS__/index_05f62f1_1.css" /></head>

<body >

<!--[if lt IE 9]>
<div style='border: 4px solid #FFF500; background: #FDFDC8; text-align: center; clear: both; height: 75px; position: fixed; z-index:999999999; right: 2px; bottom: 2px; left: 2px; padding:0 8px;'>
    <div style='position: absolute; right: 3px; top: 3px; font-weight: bold;z-index:999999999'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'>关闭</a></div>
    <div style='width: 740px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
        <div style='width: 675px; float: left;'>
            <div style='font-size: 16px; font-weight: bold; margin-top: 12px;'>您使用的是已经过时的IE浏览器</div>
            <div style='font-size: 13px; margin-top: 6px; line-height: 16px;'>为了让您在人人贷有最佳的使用体验，请升级到 <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">最新版本IE浏览器</a>, 或者使用其他高级浏览器如 <a href="https://www.google.com/intl/en/chrome/browser/">Chrome(谷歌浏览器)</a> 或 <a href="http://www.mozilla.org/en-US/firefox/new">Firefox(火狐浏览器)</a></div>
        </div>
    </div>
</div>
<![endif]-->


<img style="display: none;" src="__PICTURE__/e99e0b623bec4163b3582e9ce6dad0e6.gif" />



<div class="wdg-werenrendai-top-header">
    <div class="main-section">
        <span class="tel-phone"><i class="icon-phone"></i>客服电话: 400-090-6600</span>
        <ul class="site-nav">
            <li class="nav-item padding-item"><a target="_blank" href="https://www.we.com" style="color: #ff711c">返回WE理财首页</a></li>


            <li class="nav-item padding-item"><a target="_blank" href="__ADMIN__/about/about">关于我们</a></li>

            <!--<li class="nav-item padding-item"><a target="_blank" href="/pc/about/rrdHelp/help">帮助中心</a></li>-->

            <!--<li class="nav-item padding-item"><a target="_blank" href="http://bbs.we.com/">用户论坛</a></li>-->

            <!--<li class="nav-item padding-item"><i class="icon-mobile3"></i><a target="_blank" href="/pc/app-download.html">移动客户端</a></li>-->
        </ul>
    </div>
</div>

<div class="wdg-werenrendai-second-header">
    <div class="main-section current-channel-index">
        <a href=__ADMIN__/ class="brand-logo mt15">

        <!--首页对logo添加h1标签-->
        <h1 class="rrd-logo">人人贷</h1>

        </a>

        <ul class="site-nav">
            <li class="channel-item active-channel"><a href=__ADMIN__/>首页</a></li>
            <li class="channel-item ">
                <a href="uplan/uplan">U计划</a>
            </li>
            <li class="channel-item "><a href="__ADMIN__/premium/premium">优选计划</a></li>
            <li class="channel-item "><a href="__ADMIN__/autoinvest/autoinvest">薪计划</a></li>
            <li class="channel-item "><a href="__ADMIN__/loan/loan">债权</a></li>
            <li class="channel-item ">
                <a href="__ADMIN__/college/college" target="_blank">人人学院</a>
            </li>

            <li class="channel-item" style="width: 144px;"><a href="__ADMIN__/borrow/borrow" target="_blank">我要借款/还款</a></li>
            <li class="user-item fn-clear" num="">
                <?php if(empty($userInfo)){?>
                <div class="denglu">
                    <a target="_self" href="__ADMIN__/login/regist">注册</a> / <a target="_self" href="__ADMIN__/login/login">登录</a>
                </div>
                <?php }else{?>
                <div class="user-name fn-clear">
                    <a href="/public/admin/account/account">我的账户</a>
                </div>
                <?php }?>
            </li>
        </ul>

    </div>
</div>
<div id="header-helper" style="display: none;">
    <span id="header-helper-authenticated">
         false
    </span>
</div>
<div class="main-content">


    <div id="uplan-product-detail" class="mt20">
        <div >
            <div id="wdg-detail-uplan-product" class="container_12_1080 color-white-bg" >
                <ul class="ui-title fn-clear">
                    <li class="fn-left"><span>U计划<?php echo date('Ymd',$data['time'])?>-1期</span></li>
                    <li class="fn-right"><a
                            href="/financeplan/getDemoFinancePlanContract.action?financePlanId=14415" target="_blank"
                            data-reactid=".0.0.0.1.0"><span data-reactid=".0.0.0.1.0.0">U计划<?php echo date('Ymd',$data['time'])?>-1期</span><span
                            data-reactid=".0.0.0.1.0.1">协议范本</span></a></li>
                </ul>
                <div class="ui-product-info fn-clear" data-reactid="">
                    <div class="product-info-main  fn-left" data-reactid="">
                        <div data-reactid=".0.0.1.0.0">
                            <div class="product-info-invest fn-clear" data-reactid=".0.0.1.0.0.0">
                                <ul class="invest-rate fn-left" data-reactid=".0.0.1.0.0.0.0">
                                    <li class="value" data-reactid=".0.0.1.0.0.0.0.0"><span
                                            data-reactid=".0.0.1.0.0.0.0.0.0">{$data['rate']}</span><i
                                            data-reactid=".0.0.1.0.0.0.0.0.1">%</i><i class="extra-rate-plus"
                                                                                      data-reactid=".0.0.1.0.0.0.0.0.2">+</i><em
                                            class="extra-rate">{$data['interestRate']}</em><i
                                            data-reactid=".0.0.1.0.0.0.0.0.4">%</i></li>
                                    <li class="name" data-reactid=".0.0.1.0.0.0.0.1"><span
                                            data-reactid=".0.0.1.0.0.0.0.1.0">预期年化利率</span>
                                        <div class="we-tooltip" data-reactid=".0.0.1.0.0.0.0.1.1"><span
                                                data-reactid=".0.0.1.0.0.0.0.1.1.0"><span
                                                data-for="product-uplan-tooltip-01" data-place="right"
                                                data-tip="预期年化利率不代表实际利息收益" class="icon-we-tips"
                                                data-reactid=".0.0.1.0.0.0.0.1.1.0.0" currentitem="false"></span><div
                                                class="__react_component_tooltip place-top type-dark " data-id="tooltip"
                                                data-reactid=".0.0.1.0.0.0.0.1.1.0.1"></div></span></div>
                                    </li>
                                </ul>
                                <ul class="invest-period fn-left" data-reactid=".0.0.1.0.0.0.1">
                                    <li class="value" data-reactid=".0.0.1.0.0.0.1.0"><span
                                            data-reactid=".0.0.1.0.0.0.1.0.0">{$data['deadline']}</span><i
                                            data-reactid=".0.0.1.0.0.0.1.0.1">个月</i></li>
                                    <li class="name" data-reactid=".0.0.1.0.0.0.1.1">投资期限</li>
                                </ul>
                                <ul class="invest-money fn-left" data-reactid=".0.0.1.0.0.0.2">
                                    <li class="value" data-reactid=".0.0.1.0.0.0.1.0"><span
                                            data-reactid=".0.0.1.0.0.0.1.0.0"><?php echo  number_format($data['productAmount'])?></span><i
                                            data-reactid=".0.0.1.0.0.0.1.0.1">元</i></li>
                                    <li class="preminum-head-tag" data-reactid=".0.0.1.0.0.0.2.0">计划金额</li>
                                </ul>
                            </div>
                            <div id="str"></div>
                            <div class="product-info-extra" data-reactid=".0.0.1.0.0.1">
                                <ul class="fn-clear" data-reactid=".0.0.1.0.0.1.0">
                                    <li class="fn-left" data-reactid=".0.0.1.0.0.1.0.0"><span
                                            data-reactid=".0.0.1.0.0.1.0.0.0">保障方式</span><span class="extra-value"
                                                                                               data-reactid=".0.0.1.0.0.1.0.0.1"><span
                                            data-reactid=".0.0.1.0.0.1.0.0.1.0">100%适用</span><a target="_blank"
                                                                                                href="https://www.renrendai.com/pc/about/rrdHelp/protection/cmsId/58eee27251c5a309752c2dea"
                                                                                                data-reactid=".0.0.1.0.0.1.0.0.1.1">用户利益保障机制</a></span>
                                    </li>
                                    <li class="fn-left" data-reactid=".0.0.1.0.0.1.0.1"><span
                                            data-reactid=".0.0.1.0.0.1.0.1.0">计划金额</span><span class="extra-value"
                                                                                               data-reactid=".0.0.1.0.0.1.0.1.1"><span
                                            data-reactid=".0.0.1.0.0.1.0.1.1.0"><?php echo  number_format($data['productAmount'])?></span><span
                                            data-reactid=".0.0.1.0.0.1.0.1.1.1">元</span></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uplan-product-info-status fn-left" data-reactid=".0.0.1.1">
                        <div class="uplan-product-info-status fn-left" data-reactid=".0.0.1.1.0">
                            <div class="uplan-product-info-status-form" data-reactid=".0.0.1.1.0.0">
                                <?php if(empty($userInfo)){?>
                                <div class="s-title">
                                    <div class="account-tip">账户余额 <a href="/public/admin/login/login">登录</a> 后可见</div>
                                </div>
                                <?php }else{?>
                                <div class="s-title">
                                    <div class="account-tip">账户余额<font color="red"><?php echo sprintf("%.2f",$userInfo['money'])?></font><a href="/public/admin/account/bank">充值</a></div>
                                </div>
                                <?php }?>
                                <div class="uplan-input-group" data-reactid=".0.0.1.1.0.0.1">
                                    <div class="uplan-input-inner" data-reactid=".0.0.1.1.0.0.1.0"><input type="text" id="mon"
                                                                                                          name="uplanJoin"
                                                                                                          class="uplan-input"
                                                                                                          placeholder="输入加入金额，为1,000元的整数倍"
                                                                                                          value=""
                                                                                                          maxlength="9"
                                                                                                          data-reactid=".0.0.1.1.0.0.1.0.0"><span
                                            class="unit">元</span></div>
                                </div>
                                <div id="tishi"></div>
                                <ul class="fn-clear prop-box" data-reactid=".0.0.1.1.0.0.2">
                                    <li class="fn-left" data-reactid=".0.0.1.1.0.0.2.0"><span
                                            data-reactid=".0.0.1.1.0.0.2.0.0">剩余金额</span><span class="pl5"
                                                                                               data-reactid=".0.0.1.1.0.0.2.0.1"><span
                                            data-reactid=".0.0.1.1.0.0.2.0.1.0"><?php echo  number_format($data['productAmount']-$data['investAmount'])?></span><span
                                            data-reactid=".0.0.1.1.0.0.2.0.1.1">元</span></span></li>
                                    <li class="fn-right prop-box-top-limit" data-reactid=".0.0.1.1.0.0.2.1"><span
                                            data-reactid=".0.0.1.1.0.0.2.1.0">加入上限</span><span class="pl5"
                                                                                               data-reactid=".0.0.1.1.0.0.2.1.1"><span
                                            data-reactid=".0.0.1.1.0.0.2.1.1.0"><?php echo number_format($data['investLimit'])?></span><span
                                            data-reactid=".0.0.1.1.0.0.2.1.1.1">元</span></span></li>
                                </ul>
                                <div class="uplan-btn j-btn-orange" id="autoin">加入</div>
                                <input type="hidden" id="id" value="<?php echo $data['id']?>">
                                <input type="hidden" value="<?php echo $data['productTypeId']?>" id="productTypeId"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wdg-detail-uplan-product-process" class="container_12_1080 color-white-bg mt20"
                 data-reactid=".0.1">
                <ul class="ui-title fn-clear" data-reactid=".0.1.0">
                    <li class="fn-left" data-reactid=".0.1.0.0">计划进度</li>
                </ul>
                <div class="premium-second-title" data-reactid=".0.1.1"><span data-reactid=".0.1.1.0">计划周期，</span><span
                        data-reactid=".0.1.1.1">1</span><span data-reactid=".0.1.1.2">~</span><span
                        data-reactid=".0.1.1.3">2</span><span data-reactid=".0.1.1.4">天起息</span></div>
                <div class="ui-detail-product-process" data-reactid=".0.1.2">
                    <div class="ui-detail-product-process-info fn-clear" data-reactid=".0.1.2.0">
                        <ul class="fn-left process-info-box-01" data-reactid=".0.1.2.0.0">
                            <li class="ui-detail-product-process-info-desc" data-reactid=".0.1.2.0.0.0">开始加入</li>
                            <li class="ui-detail-product-process-info-time" data-reactid=".0.1.2.0.0.1"><?php echo date('m').'月'.date('d').'日'?> 10:00
                            </li>
                            <li class="ui-detail-product-process-info-rect rect-left-blue"
                                data-reactid=".0.1.2.0.0.2"></li>
                        </ul>
                        <ul class="fn-left  process-info-box-02" data-reactid=".0.1.2.0.1">
                            <li class="ui-detail-product-process-info-desc" data-reactid=".0.1.2.0.1.0">开始计息</li>
                            <li class="ui-detail-product-process-info-time" data-reactid=".0.1.2.0.1.1"><?php $date1 = date("d"); $val = $date1+2;  echo date('m').'月'.$val.'日';?> 10:00
                            </li>
                            <li class="ui-detail-product-process-info-rect rect-left-gray"
                                data-reactid=".0.1.2.0.1.2"></li>
                        </ul>
                        <ul class="fn-right  process-info-box-03" data-reactid=".0.1.2.0.2">
                            <li class="ui-detail-product-process-info-desc" data-reactid=".0.1.2.0.2.0">转入自由期，随时可退</li>
                            <li class="ui-detail-product-process-info-time" data-reactid=".0.1.2.0.2.1"><?php $date1 = date("Y"); $val = $date1+1;  echo $val.'年'.date('m').'月'.date('d').'日';?></li>
                            <li class="ui-detail-product-process-info-rect rect-right-gray"
                                data-reactid=".0.1.2.0.2.2"></li>
                        </ul>
                    </div>
                    <div class="ui-detail-product-process-date fn-clear" data-reactid=".0.1.2.1">
                        <div class="fn-left process-date-box-01 bg-blue" data-reactid=".0.1.2.1.0"><span
                                data-reactid=".0.1.2.1.0.0">1</span><span data-reactid=".0.1.2.1.0.1">~</span><span
                                data-reactid=".0.1.2.1.0.2">2</span><span data-reactid=".0.1.2.1.0.3">天起息</span></div>
                        <div class="fn-right process-date-box-02 bg-gray" data-reactid=".0.1.2.1.1"><span
                                data-reactid=".0.1.2.1.1.0">24</span><span data-reactid=".0.1.2.1.1.1">个月持续计息</span>
                        </div>
                    </div>
                </div>
                <div class="ui-premium-box" data-reactid=".0.1.3">
                    <div class="ui-premium-box-item" data-reactid=".0.1.3.0">
                        <div class="second-title pb20" data-reactid=".0.1.3.0.0"><span data-reactid=".0.1.3.0.0.0">退出机制灵活，设</span><span
                                data-reactid=".0.1.3.0.0.1">1年</span><span data-reactid=".0.1.3.0.0.2">自由期</span></div>
                        <ul class="ul-plan-introduce" data-reactid=".0.1.3.0.1">
                            <li class="bg-gray" data-reactid=".0.1.3.0.1.0"><span
                                    data-reactid=".0.1.3.0.1.0.0">1、</span><span data-reactid=".0.1.3.0.1.0.1">24</span><span
                                    data-reactid=".0.1.3.0.1.0.2">个月到期后，计划转入自由期。</span></li>
                            <li data-reactid=".0.1.3.0.1.1">2、自由期内，可随时申请免费退出。</li>
                            <li class="bg-gray" data-reactid=".0.1.3.0.1.2"><span data-reactid=".0.1.3.0.1.2.0">3、自由期内，预期年化利率</span><span
                                    data-reactid=".0.1.3.0.1.2.1">9.2</span><span data-reactid=".0.1.3.0.1.2.2">%，按日计算收益。</span>
                            </li>
                            <li data-reactid=".0.1.3.0.1.3">4、自由期内，退出计划时可灵活选择退出金额。</li>
                            <li class="bg-gray" data-reactid=".0.1.3.0.1.4"><span
                                    data-reactid=".0.1.3.0.1.4.0">5、</span><span data-reactid=".0.1.3.0.1.4.1">1年</span><span
                                    data-reactid=".0.1.3.0.1.4.2">自由期届满后，将自动退出计划。</span></li>
                        </ul>
                    </div>
                    <div class="ui-premium-box-item pb30" data-reactid=".0.1.3.1">
                        <div class="second-title pb10 pt30" data-reactid=".0.1.3.1.0">按日计算收益，预期收益逐年递增</div>
                        <div class="third-title" data-reactid=".0.1.3.1.1">
                            U计划按日计算收益，每年滚动投资，预期收益逐年递增，以加入10,000元为例，预期收益如下：
                        </div>
                        <table class="income-table" data-reactid=".0.1.3.1.2">
                            <tbody data-reactid=".0.1.3.1.2.0">
                            <tr data-reactid=".0.1.3.1.2.0.0">
                                <th class="t-title" data-reactid=".0.1.3.1.2.0.0.0"><span
                                        data-reactid=".0.1.3.1.2.0.0.0.0">期限</span></th>
                                <th class="t-title" data-reactid=".0.1.3.1.2.0.0.1"><span
                                        data-reactid=".0.1.3.1.2.0.0.1.0">年预期收益</span></th>
                                <th class="t-title" data-reactid=".0.1.3.1.2.0.0.2"><span
                                        data-reactid=".0.1.3.1.2.0.0.2.0">日预期收益</span></th>
                            </tr>
                            <tr data-reactid=".0.1.3.1.2.0.1">
                                <td class="t-desc" data-reactid=".0.1.3.1.2.0.1.0"><span
                                        data-reactid=".0.1.3.1.2.0.1.0.0">12个月内</span></td>
                                <td class="color-orange-text" data-reactid=".0.1.3.1.2.0.1.1"><span
                                        data-reactid=".0.1.3.1.2.0.1.1.0"><span
                                        data-reactid=".0.1.3.1.2.0.1.1.0.0"><?php echo number_format(10000*($data['rate']/100))?></span><span
                                        data-reactid=".0.1.3.1.2.0.1.1.0.1">元</span></span></td>
                                <td class="color-orange-text" data-reactid=".0.1.3.1.2.0.1.2"><span
                                        data-reactid=".0.1.3.1.2.0.1.2.0"><span
                                        data-reactid=".0.1.3.1.2.0.1.2.0.0"> </span><span
                                        data-reactid=".0.1.3.1.2.0.1.2.0.1"><?php echo sprintf("%.2f",10000*($data['rate']/100)/365)?></span><span
                                        data-reactid=".0.1.3.1.2.0.1.2.0.2">元</span></span></td>
                            </tr>
                            <tr data-reactid=".0.1.3.1.2.0.2">
                                <td class="t-desc" data-reactid=".0.1.3.1.2.0.2.0"><span
                                        data-reactid=".0.1.3.1.2.0.2.0.0">自由期第1年</span></td>
                                <td class="color-orange-text" data-reactid=".0.1.3.1.2.0.2.1"><span
                                        data-reactid=".0.1.3.1.2.0.2.1.0"><span
                                        data-reactid=".0.1.3.1.2.0.2.1.0.0"><?php echo number_format(10000*(($data['rate']+$data['interestRate'])/100))?></span><span
                                        data-reactid=".0.1.3.1.2.0.2.1.0.1">元</span></span></td>
                                <td class="color-orange-text" data-reactid=".0.1.3.1.2.0.2.2"><span
                                        data-reactid=".0.1.3.1.2.0.2.2.0"><span
                                        data-reactid=".0.1.3.1.2.0.2.2.0.0"><?php echo sprintf("%.2f",10000*(($data['rate']+$data['interestRate'])/100)/365)?></span><span
                                        data-reactid=".0.1.3.1.2.0.2.2.0.1">元</span></span></td>
                            </tr>
                            <tr data-reactid=".0.1.3.1.2.0.3">
                                <td class="t-desc" data-reactid=".0.1.3.1.2.0.3.0"><span
                                        data-reactid=".0.1.3.1.2.0.3.0.0">自由期第2年</span></td>
                                <td class="color-orange-text" data-reactid=".0.1.3.1.2.0.3.1"><span
                                        data-reactid=".0.1.3.1.2.0.3.1.0"><span
                                        data-reactid=".0.1.3.1.2.0.3.1.0.0"><?php echo number_format(10000*(($data['rate']+$data['interestRate']*2)/100))?></span><span
                                        data-reactid=".0.1.3.1.2.0.3.1.0.1">元</span></span></td>
                                <td class="color-orange-text" data-reactid=".0.1.3.1.2.0.3.2"><span
                                        data-reactid=".0.1.3.1.2.0.3.2.0"><span
                                        data-reactid=".0.1.3.1.2.0.3.2.0.0"><?php echo sprintf("%.2f",10000*(($data['rate']+$data['interestRate']*2)/100)/365)?></span><span
                                        data-reactid=".0.1.3.1.2.0.3.2.0.1">元</span></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container_12_1080 color-white-bg mt20" id="uplan-product-tab" data-reactid=".0.2">
                <div id="" class="rui-tab " data-reactid=".0.2.0">
                    <ul class="tab-nav fn-clear " data-reactid=".0.2.0.$/=10">
                        <li class="tab-nav-item detail-tab-nav-item detail-tab-nav-item-3 tab-nav-item-selected"
                            data-reactid=".0.2.0.$/=10.$nav-item-0/=10">
                            <div class="tab-title" data-reactid=".0.2.0.$/=10.$nav-item-0/=10.0">计划介绍</div>
                        </li>
                        <li class="tab-nav-item detail-tab-nav-item detail-tab-nav-item-3"
                            data-reactid=".0.2.0.$/=10.$nav-item-1/=11">
                            <div class="tab-title" data-reactid=".0.2.0.$/=10.$nav-item-1/=11.0">加入记录</div>
                        </li>
                        <li class="tab-nav-item detail-tab-nav-item detail-tab-nav-item-3"
                            data-reactid=".0.2.0.$/=10.$nav-item-2/=12">
                            <div class="tab-title" data-reactid=".0.2.0.$/=10.$nav-item-2/=12.0">常见问题</div>
                        </li>
                    </ul>
                    <div class="tab-panel " data-reactid=".0.2.0.$/=11">
                        <div class="tab-panel-item uplan-detail-panel-item tab-panel-item-selected"
                             data-reactid=".0.2.0.$/=11.$panel-item-0/=10">
                            <div id="uplan-product-tab-intro" data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0">
                                <div class="ui-uplan-intro" data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0">
                                    <ul class="ui-uplan-intro-item fn-clear"
                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.0">
                                        <li class=" item-name fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.0.0">名称
                                        </li>
                                        <li class="item-value fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.0.1">U计划<?php echo date('Ymd',$data['time'])?>-1期
                                        </li>
                                    </ul>
                                    <ul class="ui-uplan-intro-item fn-clear  bg-gray"
                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.1">
                                        <li class=" item-name fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.1.0">计划介绍
                                        </li>
                                        <li class="item-value fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.1.1">
                                            U计划是人人赚为您提供的本息自动循环出借，且一年锁定期到期后可享受两年自由期的投标工具，并由系统为您实现分散投标，更好的满足您风险分散的投资需求。该计划所对应的借款均100%适用于人人赚用户利益保障机制。自由期内，用户可随时免费申请退出，退出金额灵活可选，平台将在退出申请后第7日受理；锁定期内，用户可申请提前一次性退出，但平台将收取本金的2%作为提前退出费用。平台受理用户退出申请后，将通过债权转让的形式帮助用户实现资金退出，但平台不保证退出时效。预期收益不等于实际收益，出借人需自行承担资金出借的风险与责任；市场有风险，投资需谨慎。
                                        </li>
                                    </ul>
                                    <ul class="ui-uplan-intro-item fn-clear"
                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.2">
                                        <li class=" item-name fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.2.0">投资期限
                                        </li>
                                        <li class="item-value fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.2.1"><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.2.1.0">U计划目前加入后</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.2.1.1">24</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.2.1.2">个月转入自由期，最长可持有</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.2.1.3">36</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.2.1.4">个月，自由期届满后自动退出。</span>
                                        </li>
                                    </ul>
                                    <ul class="ui-uplan-intro-item fn-clear  bg-gray"
                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.3">
                                        <li class=" item-name fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.3.0">收益说明
                                        </li>
                                        <li class="item-value fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.3.1"><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.3.1.0">预期年化利率</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.3.1.1">9.9+0.4%</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.3.1.2">，投资产生收益将计入下一年度收益计算基数，预期收益金额逐年递增。</span><br
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.3.1.3"><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.3.1.4">U计划按日计算收益，申请退出资金中本金部分，收益将计算至实际退出日。未申请退出的资金将继续投资计息。</span>
                                        </li>
                                    </ul>
                                    <ul class="ui-uplan-intro-item fn-clear"
                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4">
                                        <li class=" item-name fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.0">退出方式
                                        </li>
                                        <li class="item-value fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1"><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1.0">1、</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1.1">24</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1.2">个月内，可操作提前退出，提前退出费用为加入本金的</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1.3">2.0</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1.4">%。</span><br
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1.5"><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1.6">2、转入自由期后，可随时申请退出，不收取退出费用。平台将在申请后第</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1.7">7</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.4.1.8">日受理。 并通过债权转让自动完成退出，您所持债权转让完成的具体时间，视债权转让市场交易情况而定。</span>
                                        </li>
                                    </ul>
                                    <ul class="ui-uplan-intro-item fn-clear  bg-gray"
                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5">
                                        <li class=" item-name fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5.0">投资金额
                                        </li>
                                        <li class="item-value fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5.1"><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5.1.0">加入金额</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5.1.1">1,000</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5.1.2">元起，并以</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5.1.3">1,000</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5.1.4">元整数倍递增。每期U计划个人加入上限为</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5.1.5">{$data['productAmount']}</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.5.1.6">元。</span></li>
                                    </ul>
                                    <ul class="ui-uplan-intro-item fn-clear"
                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6">
                                        <li class=" item-name fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.0">费用说明
                                        </li>
                                        <li class="item-value fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1">
                                            <dl data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0">
                                                <dd data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.0"><span
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.0.0">加入费用：</span><span
                                                        class="em-orange"
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.0.1">0.0%</span>
                                                </dd>
                                                <dd data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.1"><span
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.1.0">管理费用：参见</span><a
                                                        href="/financeplan/getDemoFinancePlanContract.action?financePlanId=14415"
                                                        target="_blank"
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.1.1">《U计划服务协议》</a>
                                                </dd>
                                                <dd data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.2"><span
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.2.0">自由期内退出费用：</span><span
                                                        class="em-orange"
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.2.1">0.0%</span>
                                                </dd>
                                                <dd data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.3"><span
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.3.0">提前退出费用：加入金额 x </span><span
                                                        class="em-orange"
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.3.1"><span
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.3.1.0">2.0</span><span
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.3.1.1">%</span></span><span
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.3.2">，详情参见</span><a
                                                        href="/financeplan/getDemoFinancePlanContract.action?financePlanId=14415"
                                                        target="_blank"
                                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.6.1.0.3.3">《U计划服务协议》</a>
                                                </dd>
                                            </dl>
                                        </li>
                                    </ul>
                                    <ul class="ui-uplan-intro-item fn-clear  bg-gray"
                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.7">
                                        <li class=" item-name fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.7.0">保障方式
                                        </li>
                                        <li class="item-value fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.7.1">100%用户利益保障机制
                                        </li>
                                    </ul>
                                    <ul class="ui-uplan-intro-item fn-clear"
                                        data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.8">
                                        <li class=" item-name fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.8.0">服务协议
                                        </li>
                                        <li class="item-value fn-left"
                                            data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.8.1"><a
                                                href="/financeplan/getDemoFinancePlanContract.action?financePlanId=14415"
                                                target="_blank" data-reactid=".0.2.0.$/=11.$panel-item-0/=10.0.0.8.1.0">【点击查看】</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-panel-item uplan-detail-panel-item"
                             data-reactid=".0.2.0.$/=11.$panel-item-1/=11">
                            <div id="uplan-product-tab-join" data-reactid=".0.2.0.$/=11.$panel-item-1/=11.0">
                                <div class="list-info" data-reactid=".0.2.0.$/=11.$panel-item-1/=11.0.0"><span
                                        data-reactid=".0.2.0.$/=11.$panel-item-1/=11.0.0.0">加入总人次</span><i
                                        data-reactid=".0.2.0.$/=11.$panel-item-1/=11.0.0.1">{$data['cou']}</i><span
                                        data-reactid=".0.2.0.$/=11.$panel-item-1/=11.0.0.2">人，加入总金额</span><i
                                        data-reactid=".0.2.0.$/=11.$panel-item-1/=11.0.0.3">{$data['amo']}</i><span
                                        data-reactid=".0.2.0.$/=11.$panel-item-1/=11.0.0.4">元</span></div>
                            </div>
                        </div>
                        <div class="tab-panel-item uplan-detail-panel-item"
                             data-reactid=".0.2.0.$/=11.$panel-item-2/=12">
                            <div id="uplan-product-tab-question" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0">
                                <div data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0">
                                    <ul class="ui-question-item" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.0">
                                        <li class="question" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.0.0">
                                            Q1：U计划的期限有多久？
                                        </li>
                                        <li class="question-answer"
                                            data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.0.1"><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.0.1.0">U计划目前锁定期为</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.0.1.1">24</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.0.1.2">个月，锁定期后转入自由期，自由期长度</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.0.1.3">1年</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.0.1.4">，到期后自动退出。</span>
                                        </li>
                                    </ul>
                                    <ul class="ui-question-item" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.1">
                                        <li class="question" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.1.0">
                                            Q2：U计划如何退出？
                                        </li>
                                        <li class="question-answer"
                                            data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.1.1"><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.1.1.0">24</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.1.1.1">个月锁定期内，可在renrendai.com操作提前退出，提前退出费用=加入计划金额*2.0%； 转入自由期后可在renrendai.com和app端随时申请退出，退出免退出费用，退出金额可灵活选择。</span>
                                        </li>
                                    </ul>
                                    <ul class="ui-question-item" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.2">
                                        <li class="question" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.2.0">
                                            Q3：申请退出后多久可完成退出？
                                        </li>
                                        <li class="question-answer"
                                            data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.2.1"><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.2.1.0">24</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.2.1.1">个月锁定期内提前退出，平台将在申请当日进行债权转让处理；转入自由期后申请退出，平台将在申请后第</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.2.1.2">7</span><span
                                                data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.2.1.3">日进行债权转让处理。债权转让处理时间一般为1-3个工作日，成功退出后资金退回到个人账户余额。</span>
                                        </li>
                                    </ul>
                                    <ul class="ui-question-item" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.3">
                                        <li class="question" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.3.0">
                                            Q4：U计划的利息收益处理方式？
                                        </li>
                                        <li class="question-answer"
                                            data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.3.1">
                                            U计划提供的投资所获利息收益的处理方式为收益再投资（即每笔借款利息自动再投资）。
                                        </li>
                                    </ul>
                                    <ul class="ui-question-item" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.4">
                                        <li class="question" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.4.0">
                                            Q5：U计划可以使用优惠券吗？
                                        </li>
                                        <li class="question-answer"
                                            data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.4.1">
                                            加入U计划时，仅可使用现金券、抵扣券。当现金券、抵扣券券面注明支持U计划投资时，此次投资可以使用该券。
                                        </li>
                                    </ul>
                                    <ul class="ui-question-item" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.5">
                                        <li class="question" data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.5.0">
                                            Q6：U计划可以续期吗？
                                        </li>
                                        <li class="question-answer"
                                            data-reactid=".0.2.0.$/=11.$panel-item-2/=12.0.0.5.1">目前U计划暂不支持续期功能。
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="<?php echo $data['id']?>" id="name">

</div>
<div id="show"></div>

<link rel="stylesheet" href="__CSS__/common_wdg_c1db688_1.css"/>
<link rel="stylesheet" href="__CSS__/common_nm_aa4d4d8_1.css"/>
<link rel="stylesheet" href="__CSS__/uplan_wdg_a3071e5_1.css"/>
<link rel="stylesheet" href="__CSS__/detail_2861f98_1.css"/></head>

<body>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/jquery-1.9.1.min.js"></script>
<script>
    $(document).on("click",'.tab-nav li',function () {
        var _index = $(this).index();
        var _ul = $(".tab-nav");
        var _detail = $(".tab-panel");
        // 更改样式
        $(this).addClass('tab-nav-item-selected');
        $(this).siblings().removeClass('tab-nav-item-selected');
        // 更改显示数据
        _detail.children().eq(_index).show();
        _detail.children().eq(_index).siblings().hide();
    })


</script>
<script>
//    $(function(){
        //判断输入框必须为数字
        //判断输入框必须为数字
        $("#mon").on("keyup", function(){
            this.value = this.value.replace(/\D/g, "");
            var v = $('#mon').val();
            if(!v){
                $(this).css("border","1px solid #FE9900");
            }else if(v%1000!=0){
                $(this).css("border","2px solid #FF9900");
                $('#tishi').html("<span style='color:red'>输入金额需为1,000元的整数倍</span>").appendTo('.uplan-input-inner');
            }else{
                $(this).css("border","1px solid #FF9900");
                $('#tishi').html("").appendTo('.uplan-input-inner');
            }
        });


//    })


</script>
<script>

        $("#autoin").click(function(){
            var price = $("#mon").val();
            var id = $("#id").val();//获取ID
            var url = 'http://www.shixun.com/public/admin/uplan/add';
            $.ajax({
                type: 'get',
                url: url,
                data: {"price": price, "id": id},
                success: function (data) {
                    if(data==1){
                        alert("请先登陆！");
                        window.location.href = "http://www.shixun.com/public/admin/login/login";
                    }else{
                        $("#str").html(data);
                    }

                }
            })

        })
        $(document).on("click",".submit",function(){
            var price = $("#price").html();
            var userId = $("#userId").val();
            var productId = $("#name").val();
            var type = $("#productTypeId").val();
            var url = 'http://www.shixun.com/public/admin/autoinvest/code';
            $.ajax({
                type:"get",
                url:url,
                data:{"price":price,"id":userId,"productId":productId,"type":type},
                success:function(msg){
                    if(msg==1){
                        alert("余额不足,请充值！！！");
                    }else if(msg==2){
                        alert("支付成功！");
                        window.location.href = "http://www.shixun.com/public/admin/account/account";
                    }else if(msg==3){
                        alert("支付失败！");
                    }else if(msg==4){
                        alert("名额已满！");
                    }else if(msg==5){
                        alert("请先实名认证！");
                    }
                }
            })
        })

        $(document).on("click","#non",function(){
            $("#str").empty();
        })
</script>






















